:root {
    --bg: #160e0f;
    --text: #f4eded;
    --prim: #c8a8aa;
    --sec: #614b3d;
    --accent: #ab9a79;
}

body {
    font-family: "Edu AU VIC WA NT Guides", cursive;
    margin: 0;
    padding: 20px;
    background-color: var(--bg);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.info-section {
    margin-top: 20px;
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    background: var(--prim);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    animation: float 6s infinite;
}

.container {
    margin-top: 40px;
    flex: 2;
    padding: 20px;
    background: var(--prim);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: float 6s ease-in-out infinite;
}

.upload-section {
    margin-bottom: 20px;
}

::placeholder {
    font-family: "Raleway", sans-serif;
    text-align: left;
    padding: 5px;
}

textarea {
    outline: none;
    padding: 5px;
    border-radius: 8px;
}

h1,
h2,
h3 {
    color: var(--bg);
    font-family: "Edu AU VIC WA NT Guides", cursive;
}

input[type="file"],
textarea {
    width: 100%;
    margin-bottom: 10px;
}

button,
input::file-selector-button {
    padding: 10px;
    background-color: var(--accent);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover,
input::file-selector-button:hover {
    background-color: var(--sec);
    transition: 0.5s;
    transform: scale(0.75);
}

#results {
    margin-top: 20px;
    word-wrap: break-word;
    font-family: "Raleway", sans-serif;
}

.matched-segments {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    white-space: pre-wrap;
    border-radius: 8px;
}

.highlight {
    background-color: #ffeb3b;
    /* Highlight color */
    font-weight: bold;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/* Responsive Styles */
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        /* Stack sections vertically */
    }

    .info-section {
        margin-right: 0;
        /* Remove right margin */
        margin-bottom: 20px;
        /* Add bottom margin for spacing */
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
        /* Reduce padding on small screens */
    }

    h1,
    h2,
    h3 {
        font-size: 1.5em;
        /* Smaller headings */
    }

    button {
        width: 100%;
        /* Full width buttons */
    }

    input[type="file"],
    textarea {
        font-size: 0.9em;
        /* Smaller input text */
    }
}